<div class="card">
  <h5 class="card-header">Asset Name: <span [ngClass]="{'blue-text': isBlue}">Sound</span></h5>
  <div class="card-body">
    <h5 class="card-title">Attack Vector: Sound Vector</h5>
    <p class="card-text">"confidentiality": true<br>
      "asset_name": "Sound", <br>
      "attack_vector": "SoundVector", <br>
      "confidentiality": true, <br>
      "integrity": false, <br>
      "availability": true, <br>
      "threat_scenario": "Sound related threat", <br>
      "damage_scenario": "May attack sound devices", <br>
      "attack_route": "Via the cable", <br>
      "impact_level": "1", <br>
      "risk_level": "2", <br>
      "cal_value": "80", <br>
      "security_goal": "Secure the audio connection" <br>
    </p>
    <a href="list-tara-entries" class="btn btn-primary">Go back</a>
  </div>
</div>

<!--
{
"asset_name": "Sound",
"attack_vector": "SoundVector",
"confidentiality": true,
"integrity": false,
"availability": true,
"threat_scenario": "Sound related threat",
"damage_scenario": "May attack sound devices",
"attack_route": "Via the cable",
"impact_level": "1",
"risk_level": "2",
"security_level": "2",
"cal_value": "80",
"security_goal": "Secure the audio connection"
}-->
